<div class="col-md-12" ng-controller="SubscribePartialCtrl">

<div class="modal-content" style="height:30%;width:30%;">
            <div class="modal-header login-header" style="background-color:#A9A9A9;">
                <h4 class="modal-title" style="text-align:center;">Current Subscription Status</h4>
            </div>

            <div class="modal-body" ng-controller="SubscribePartialCtrl" >
                <div>
                    <table>
                        <tr><td><h4 style="float:left;margin-left:10px"><strong>Subscription Type:</strong>  {{scrCapData.subscription_type}}</h4></td></tr>
                      <tr><td><h4 style="float:left;margin-left:10px"><strong>Renew Date: </strong>  {{expiry}}</h4></td></tr>
                    </table>
                </div>

                 <div class="panel-group" >
                      <div class="panel panel-primary" >
                          <fieldset ng-disabled="buttonval" ng-init="buttonval=true">
                    <table>

                        <tr style="margin-top:10px;">
                            <td>  <h4 style="float:left;margin-left:10px;">WebCam Capture</h4></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><label class="switch" style="text-align:right;"><input type="checkbox" ng-model="checkboxModel.webcam">
                                    <span class="slider round"></span>
                                </label>
                            </td>

                        </tr>
                        <tr>
                            <td><h4 style="float:left;margin-left:10px">Screenshot Capture</h4></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td> <label class="switch" style="text-align:right;"><input type="checkbox" ng-model="checkboxModel.scrnshot">
                                    <span class="slider round"></span>
                                </label></td>

                        </tr>
                         <tr>
                            <td><h4 style="float:left;margin-left:10px">KeyLog Capture</h4></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td> <label class="switch" style="text-align:right;"><input type="checkbox" ng-model="checkboxModel.keylog">
                                    <span class="slider round"></span>
                                </label></td>

                        </tr>
                        <tr>
                            <td><h4 style="float:left;margin-left:10px">Remote Lock</h4></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td> <label class="switch" style="text-align:right;"><input type="checkbox" ng-model="checkboxModel.remotelock">
                                    <span class="slider round"></span>
                                </label></td>

                        </tr>
                    </table>
                 </fieldset>
                    </div>
                  </div>

             <div class="modal-footer">
                <button type="button" class="add-project" ng-click="buttonval=false">Edit</button>
                <button type="button" class="add-project" ng-click="buttonval=true;save()">Save</button>
            </div>
            </div>

</div>
</div>
