.parent {
    display: flex;
}
.parent > div {
    display: inline-block;
    padding: 0;
   }
.para {
    font-size: 10px;

    color: #778899;
}
.listclass
{
  color: red;
  font-size: 10px;

   list-style:none;
    padding-left:0;
}
.maindivcredit
{
   margin:0 auto;
}
