<div class="" ng-controller="WebcamPartialCtrl">

    <div class="row">


    <div class="col-md-6">
        <div class="webcam-card">
               <table class="table table-filter">
                    <tbody>
                    <tr ng-repeat="img in webCamData track by $index" data-status="pagado">
                        <td>
                            <div class="media">
                                <div class="media-body">
                                    <span class="media-meta pull-right">{{img.webcam_date_time}}</span>

                                    <a ng-click="getWebCamImage()" class="summary" ng-model="image_url">{{img.image_url}}</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            <div class="img-desc">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="webcam-card">

            <img src="data:image/png;base64,{{webCamDataTemp}}" />
            <div class="img-desc">


            </div>
        </div>
    </div>


    </div>

</div>
