<div class="" ng-controller="WebcamPartialCtrl">

    <div class="row">


    <div class="col-md-6">
        <div class="webcam-card">
            <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Norway" style="width:100%">
            <div class="img-desc">
                <p>When it was captured and Bla Bla.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="webcam-card">
            <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Norway" style="width:100%">
            <div class="img-desc">
                <p>When it was captured and Bla Bla.</p>
            </div>
        </div>
    </div>

    </div>

</div>
